@import "../node_modules/modern-normalize/modern-normalize.css";

@media (max-width: 1200px) {
  .projects-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}

body {
  background-color: rgb(29, 29, 29);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0;
}

h1 {
  margin-bottom: 3rem;
  margin-top: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 4rem 4rem 0 4rem;
}

.about-me {
  background-color: rgb(235, 235, 235);
  padding: 1rem 2rem;

  p {
    max-width: 1000px;
  }
}

.img-about-me {
  width: 300px;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
  z-index: 1;
}

main {
  color: white;
  padding: 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  height: 480px;
  box-shadow: 3px 3px 3px black;
  border-radius: 0.5rem;
  transition: transform 0.2s;
  transform-origin: bottom;
  overflow: hidden;

  .project-screenshot {
    height: 320px;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.2s;
  }

  .project-info {
    padding: 1rem;

    .project-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5rem;
    }
  }
}

.project:hover {
  transform: scale(1.05);

  .project-screenshot {
    opacity: 1;
  }
}

.preview-icon {
  margin-left: 1rem;
}

footer {
  margin-top: auto;
  background-color: rgb(235, 235, 235);
  padding: 4rem;
  display: flex;
  gap: 4rem;
  align-items: center;
}
